@model IEnumerable<MVCTestApp.Models.Employee>

@{
    ViewData["Title"] = "Roster";
}

<div class="text-center">
    <h1 class="display-4">Roster</h1>


    <table class="table table-responsive table-hover">
        <tr>
            <th>Level</th>
            <th>Operator</th>
            <th>Code Name</th>
            <th>Title</th>
            <th>Image</th>            
        </tr>
        @foreach (var d in Model)
        {
            <tr>
                <td>@d.Level.ToString("g")</td>
                <td>@d.OperatorClass.ToString("g")</td>
                <td>@d.CodeName</td>
                <td>@d.Title</td>
                <td><img src="@Url.Content("./Images/" + d.Image)" alt="Portrait of @d.Level.ToString("g") @d.OperatorClass.ToString("g") @d.CodeName" class="portrait"/></td>
            </tr>

        }
    </table>

</div>